# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\garam\Desktop\Documents\HES-SO\HEG\Semestre 3\TI - Réseaux informatiques d'entreprise\Mathématiques\ShamirsProjet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
